<section id="news" class="section">
  <h2>News</h2>
  <div class="news-box">
    <ul class="news-list">
      <li><span class="news-date">Nov 2025</span> Presented "Modeling Physiologic Setpoints from Blood Tests to Quantify Human Regulation" at UW Scholars' Studio, Seattle.</li>
      <li><span class="news-date">Sep 2025</span> Started PhD in Biomedical Informatics &amp; Medical Education at the University of Washington.</li>
      <li><span class="news-date">Feb 2025</span> Presented "Adaptive AI Models for Personalized Laboratory Reference Intervals" at UW IMDS Symposium, Seattle.</li>
      <li><span class="news-date">Feb 2025</span> OPTIC paper on clinical message triage published on arXiv.</li>
      <li><span class="news-date">Dec 2024</span> "Haematologic Setpoints" paper published in <em>Nature</em>.</li>
      <li><span class="news-date">2024</span> Selected as Leader of Tomorrow at GapSummit Global Biotech Leadership Forum, Cambridge, UK.</li>
      <li><span class="news-date">May 2023</span> Graduated from Johns Hopkins University with dual BS degrees.</li>
    </ul>
  </div>
</section>
